$navbar-default-bg: #000;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  color: #fff;
}

#logo:hover {
  text-decoration: none;
  color: #fff;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('new_cover_page.png');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  text-align: center;
  margin-botton: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #fff;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black ;
}

.article-meta-details {
  margin-top: 15px;
  border-top: 1px solid #eaeaea;
}

.article-actions {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

.description {
  margin-top: 0px;
}

.article-title {
  font-size: 1.5em;
  font-weight: bold;
}

.article-body {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eaeaea; 
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
 float: right;
  list-style: none; 
}

footer ul li {
 float: left;
  margin-left: 15px; 
}